{% extends 'base.html' %}

{% block content %}
	<h1 class="display-4 text-center">Pedometer</h1>
	
	<canvas id="steps" data-url="chart"></canvas>

	<form id="form" class="mt-5 ml-3">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<label for="dateform" class="col-from-label">From Date: </label>
					<input type="date" name="datefrom" id="datefrom" class="form-contol" value="01-01-2020" required>
				</div>
				<div class="col-md-4">
					<label for="dateto" class="col-from-label">To Date: </label>
					<input type="date" name="dateto" id="dateto" class="form-contol" value="01-01-2025" required>
				</div>
				<div class="col-md-4">
					<input type="submit" class="btn btn-primary" name="Send">
				</div>
			</div>
		</div>
	</form>

	<div id="output"></div>	
{% endblock %}